<footer class="footer">
  <div class="footer-container">

    <!-- BRAND -->
    <div class="footer-col footer-brand">
      <div class="footer-brand__logo">
        <img src="assets/img/logo.png" alt="Logo">
      </div>
      <div class="footer-brand__text">
        <h3>SD Cahaya Harapan Bekasi</h3>
        <p class="subtitle">Sekolah Dasar</p>
        <p class="footer-desc">
          Mendidik generasi berkarakter, cerdas, dan siap menghadapi masa depan.
        </p>
      </div>
    </div>

    <!-- ALAMAT -->
    <div class="footer-col">
      <h4>Alamat</h4>
      <p>Bekasi, Jawa Barat</p>
      <p>Indonesia</p>
    </div>

    <!-- MENU -->
    <div class="footer-col">
      <h4>Menu</h4>
      <a href="index.html">Beranda</a>
      <a href="tentang.html">Tentang</a>
      <a href="berita.html">Berita</a>
      <a href="galeri.html#galeri">Galeri</a>
      <a href="kegiatan.html#kegiatan">Kegiatan</a>
      <a href="ekstrakurikuler.html#ekstrakurikuler">Ekstrakurikuler</a>
      <a href="index.html#kontak">Kontak</a>
    </div>

    <!-- KONTAK + SOSIAL -->
    <div class="footer-col">
      <h4>Kontak</h4>
      <p><i class="fas fa-phone"></i> 085692890015</p>
      <p><i class="fas fa-envelope"></i> sdcahayaharapanbekasi2020@gmail.com</p>
        <div class="footer-social">
          <p class="footer-social__title">Ikuti Kami</p>

          <div class="footer-social__icons">
            <a href="#"><i class="fab fa-tiktok"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
    </div>

  </div>

  <div class="footer-bottom">
    © 2026 SD Cahaya Harapan Bekasi
  </div>
</footer>
